<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<p>zestworld에 오신걸 환영합니다</p>
		<p>${name}님이 초대를 신청합니다. 초대를 응하시면</p>
		<p></p>
		<a href="${path}">여기를 눌러주세요</a>
	</div>
</body>
</html>